*.MOV filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
models/best_model.keras/model.weights.h5 filter=lfs diff=lfs merge=lfs -text
data/images/*.jpg filter=lfs diff=lfs merge=lfs -text
data/videos_converted_h264/*.mp4 filter=lfs diff=lfs merge=lfs -text
data/videos filter=lfs diff=lfs merge=lfs -text
